:root {
  --text-default: #333;
  --text-secondary: #666;
  --border-color-default: #eee;
  --border-color-secondary: #f8f8f8;
  --background-default: #fff;
  --background-highlight: #f8f8f8;
  --data-color-cases-default: hsl(25, 100%, 70%); /* #ffa464; */
  --data-color-cases-secondary: hsl(25, 100%, 90%);
  --data-color-deaths-default: hsl(348, 100%, 70%); /* #ff6484; */
  --data-color-deaths-secondary: hsl(348, 100%, 90%);
}

body {
  margin: 0 auto;
  padding: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  line-height: 20px;
  color: var(--text-default);
  background: var(--background-default);
}

@supports (padding: max(0px)) {
  body {
    padding-left: max(10px, env(safe-area-inset-left));
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

svg,
canvas {
  vertical-align: bottom;
}

a {
  color: blue;
  text-decoration: none;
}

a.active {
  color: var(--text-secondary);
}
