body {
  margin: 0 auto;
  padding: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  line-height: 20px;
  color: var(--text-default);
}

@media (min-width: 720px) {
  body {
    width: 700px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --text-default: #333;
  --text-secondary: #666;
  --border-color-default: #eee;
  --border-color-secondary: #f8f8f8;
  --background-highlight: #f8f8f8;
  --data-color-cases-default: hsl(25, 100%, 70%); /* #ffa464; */
  --data-color-cases-secondary: hsl(25, 100%, 90%);
  --data-color-deaths-default: hsl(348, 100%, 70%); /* #ff6484; */
  --data-color-deaths-secondary: hsl(348, 100%, 90%);
}
